.container{
    margin-top: 5% !important;
}
.subaspect{
    text-align: center;
    h3{
        vertical-align: center;
    }
}

.title{
    font-size: 100px;
    text-align: center;
}
.subtitle{
    text-align: center;
}
#babyme{
    max-height: 400px;
    object-fit: cover !important;
}