.container{
    margin-top: 5% !important;
}
.subaspect{
    text-align: center;
    h3{
        vertical-align: center;
    }

    background-color: #6abbcf;
    border: 5px solid;
}

.title{
    font-size: 100px;
    text-align: center;
}
.subtitle{
    text-align: center;
}
#babyme{
    max-height: 400px;
    object-fit: cover !important;
}

@font-face {
    font-family: Gingercat;
    src: url(GingerCat.ttf);
}

@font-face {
    font-family: ComfortaRegular;
    src: url(Comfortaa-Regular.ttf);
}

h1,h2,h3{
    font-family: Gingercat;
    -webkit-text-stroke: 2px #e2ebee;
}

h4,h5{
    font-family: ComfortaRegular;
    background-color: #b5d1d8;
    padding: 10px;
    border: 4px solid;
    border-radius: 4px;

}

body{
    background-image: url(something1.png);
}

img{
    border: 10px solid #000000;
    border-radius: 10px;
    margin: 0px;
}